@page "/aboutoscar"
<h1>Afinal, o que é a Cerimônia do Oscar?</h1>
<p>O Oscar (<em>The Academy Awards</em> ou <em>The Oscars</em>, em inglês) é uma cerimônia de premiação do cinema, 
	reconhecida atualmente como a principal premiação do tipo existente no mundo. Foi fundado em 
	1927 e teve sua primeira cerimônia realizada em 1929. Atualmente, é um evento milionário que atrai milhões de espectadores anualmente.</p>

<p>Os vencedores de cada categoria são determinados por meio de uma votação que é realizada pelos membros da Academia que organiza a premiação. 
	Existem <a href="/criteria">critérios</a> muito bem definidos que determinam quais dos membros podem votar em cada categoria. O Brasil nunca ganhou um Oscar, mas 
	já teve indicados em diferentes categorias.</p>
