@page "/"

<PageTitle>Oscarpedia</PageTitle>

<h1>Olá, usuário!</h1>
<p>Seja bem-vindo ao <strong>Oscarpedia</strong>! <br /> Esse é um projeto feito utilizando <em>ASP.NET Core Blazor WebAssembly</em> e <em>PostgreSQL</em>, realizado para unir meu amor por estudar programação e cinema. </p>



<SurveyPrompt Title="O que está achando do Oscarpedia?" />
